@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../public/beach.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}